<div style="display: flex; flex-direction: column; width: 100%; justify-content: space-around; align-items: center; background-color: lightsteelblue; min-height: 99vh; overflow-x:hidden;">
    
    <h1 style="color: rgb(218, 47, 47); text-align: center;">Complete la encuesta de temática de Programate</h1>
    <figure style="display: flex; height: 30vh;"><img style="height: 90%; width: auto;" src="http://api.quieroserdigital.com/storage/icon/q6VjUxMkKx3oU9AwiWTwF0LkFUJE1vyvNGbLU876.png" alt="Ico"></figure>
<h2 style="color: rgb(182, 68, 68); text-align: center;"">Seleccione la pregunta de la lista</h2>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a style="color: honeydew; text-decoration: none; font-size: 32px;" href="/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
