li a {
    color: green;
    text-decoration: none;
}
h1{
    color: brown;
}
body {
    background: white url("https://cdn.colombia.com/images/v2/colombia-info/informacion/informacion-800.jpg") no-repeat;
}